:root {
    --primary-color: #282929;
    --secondary-color: #3b3b3d;
    --tenary-color: #1b1b1b;
    --primary-text-color: #eceae4;
    --secondary-text-color: #b4b2ad;
    --tenary-text-color: #807e79;
}

body {
    display: flex;
    flex-flow: column wrap;
    padding: 0em 1em 1em 1em;

    font-family: sans-serif;
    /* background-color: var(--primary-color); */
    background-color: var(--tenary-color);
    color: var(--primary-text-color);
    /* font-size: 1.05em; */
}

input[type=text],
input[type=password] {
    margin-right: 0.5em;
    padding: 0.4em 0.4em 0.4em 0.4em;

    font-size: 1.1em;
    border-radius: 4px;

    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-text-color);
}


button,
input[type=submit] {
    position: relative;
    padding: 0.4em 0.4em 0.4em 0.4em;

    font-size: 1.1em;
    border-radius: 4px;

    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-text-color);

}

a {
    color: rgb(45, 209, 45);
    text-decoration: none;
}

a:visited {
    color: rgb(31, 139, 31);
}

a:hover {
    /* color: rgb(40, 182, 40); */
    text-decoration: underline;
}

.unstyled-link,
.unstyled-link:hover,
.unstyled-link:visited {
    color: var(--primary-text-color);
    text-decoration: none;
}



code {
    font-family: Consolas, "courier new";
    background-color: var(--tenary-color);
    padding: 2px;
}


.dangerous {
    color: rgb(221, 25, 18);
}

.dangerous:hover {
    color: rgb(172, 26, 21);
}

.divider {
    margin: .6em .0em .6em .0em;
    border-bottom: 1px solid var(--tenary-text-color);
}

.divider-small {
    margin: .3em 2.1em .3em 2.1em;
    border-bottom: 1px solid var(--secondary-color);
}


*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}