body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em 1em 1em 1em;
    margin: 0;
}

#flex-container {
    display: flex;
    gap: 1em;
}

.title {
    display: flex;
    align-items: center;
}


#sidebar {
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 1em;

    border-radius: 5px;
    background-color: var(--tenary-color);
}

#page {
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 0;
    max-width: 85%;
    flex: 1;
}

#sendbar {
    display: flex;
    flex-direction: row;
}


.scrollbar {
    position: relative;
    width: 1em;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: .2em 0 .2em 0;
}

.scrollbar-scroller {
    position: absolute;
    background-color: #1a1a1b;
    width: 0.6em;
    border-radius: 20em;
    margin: auto;

    cursor: ns-resize;
}


#messages-wrapper {
    position: relative;
    display: flex;

    border-radius: 3em;
    height: 40em;
    scrollbar-width: none;

    margin: 0 0 0.8em 0;
}


#messages {
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: var(--primary-color);
    width: 100%;
    padding: 1em 1em 1em 1em;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-wrap: break-word;
}


#send-message-text {
    flex: 1;
}

.message-author {
    font-weight: bold;
    margin-right: 0.6em;
    font-size: 1.1em;
}

.message-timestamp {
    color: var(--tenary-text-color);
    font-size: 0.75em;
}

.message-text {
    position: relative;
    text-wrap: wrap;
}

.message {
    margin-bottom: 1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-unconfirmed {
    color: var(--secondary-text-color);
}

.message-tempid {
    display: none;
}

.message-hideheader {
    margin-top: -0.9em;
}


#channel-header {
    padding: 0 0 0.7em 0;
}

#channel-actions {
    display: flex;
    gap: 2em;
}

#channel-header-name {
    margin: 0.2em 0 0.3em 0;
}

#channel-header-members {
    color: var(--secondary-text-color);
    margin: 0.2em 0 0.2em 0.15em;
}

#sidebar-channels {
    display: flex;
    flex-direction: column;
}

.sidebar-channel {
    border-radius: .5em;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background-color: var(--tenary-color);

    margin: .1em 0 .1em 0;
}

.sidebar-channel:hover {
    background-color: var(--primary-color);
}

.sidebar-channel-name {
    margin: .5em 0 .5em .3em;
    overflow: hidden;
}
