#register-form {
    margin-bottom: auto;
}


input {
    margin: 0.2em 0 0.6em 0;
}


#error-message {
    display: none;
    flex-direction: column;
    margin: 2em 0 2em 0;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    border-color: #f54b2d;
    border-style: solid;
}

#info-message {
    display: none;
    flex-direction: column;
    margin: 2em 0 2em 0;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    border-color: #70f035;
    border-style: solid;
}


.body-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 5rem 10rem 5rem;
    height: 100%;
    border: transparent 5px solid;
    border-radius: 4px;
    background: #151616;
}


.disabled {
    background-color: #bababa !important;
}